<nav class="navbar navbar-expand-lg nav-fill w-100">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"   >LIQUIDITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >REPORTING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >MATCHING HUB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >AUTO REPAIR TOOL</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EPH 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="onReportSelection('General - Adhoc Query')">General - Adhoc Query</a>
            <a class="dropdown-item" (click)="onReportSelection('Report type 2')">Report type 2</a>
            <a class="dropdown-item" (click)="onReportSelection('Report type 3')">Report  type 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >FOREX SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >ADVISING SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >CALENDER</a>
        </li>
      </ul>
   
    </div>
  </nav>